.Home {
  background: linear-gradient(#557ebd, #b773d9);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  height: 670px;
  display: flex;
}
.theps {
  margin-top: 50%;
}
