.Contact {
  background: linear-gradient(#bfe614, #54a17b);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  color: rgb(255, 255, 255);
  height: 670px;
}
